@font-face {
  font-family: bree;
  src: url(/fonts/JosefinSans-SemiBoldItalic.ttf);
}

@font-face {
  font-family: cabin;
  src: url(/fonts/Cabin-RegularItalic.ttf);
}

.tipo-letra{
	font-family: bree;
}

.tipo-letra-cabin{
	font-family: cabin;
}

#header .header-body{
	background: #fff;
	border:none;
	padding: 10px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

}
#header{
	top: calc(100vh - 119px);
}
#header .header-nav-main nav > ul > li > a{
	color: #1F1468;
}
#header .header-logo img{
	margin: 0px;
}
#header .header-nav-main nav > ul > li:hover > a, #header .header-nav-main nav > ul > li.active > a {
    color: #1e1468 !important;
    font-weight: 600;
}
html.sticky-header-active #header .header-body{
	background: #fff;
}

.texto-borde {
  -webkit-text-stroke: 0.3px black;
  color: transparent; 
}


html .btn-primary:hover{
	border-color: #524890;
    background-color: #524890;
}

html .featured-box-primary .box-content{
	border-top-color: #1e1468;
}
html .featured-box-secondary .box-content{
	border-top-color: #1e1468;

}
#header .header-nav-main nav > ul > li.active > a:before{
	border-bottom: 3px solid #1f1468;
}

.thumb-info.custom-thumb-info-style-2{
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.1);
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    border-left: 0.5px solid #c4c4c4;
}

html .divider.divider-primary.divider-small hr {
    background: #1e1468;
}

html .btn-primary {
    color: #ffffff;
    background-color: #1F1468;
    border-color: #1F1468 #1F1468 #1F1468;
}


.header-column{
	width: 65%;
    padding-left: 17px;
}
@media (min-width: 992px){
	.custom-divider-1 {
		width: 28%;
	}
	.custom-divider-1:after{
		border: none;
	}
}